<div class="container w-100">

    <div class="row w100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindos ao meu blog! </h1>
        </div>
    </div>

    <div class="row w-100 md-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo officia doloribus neque praesentium saepe
                velit blanditiis. Numquam quia debitis fugiat delectus amet atque, cupiditate commodi necessitatibus
                iste voluptates non id!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cumque optio pariatur error quasi
                natus, deleniti ea sequi debitis voluptatibus aliquid ipsum asperiores neque illo eos amet repudiandae.
                Nesciunt, molestiae!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus quod voluptate porro tempora ullam
                sint recusandae iure, quae debitis. Atque libero omnis esse beatae vitae culpa nulla minus inventore
                quod.
            </p>
        </div>
    </div>

</div>

<div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>

